.onDesktop {
  display: block;
}

.onMobile {
  display: none;
}

@media only screen and (max-width: 767px) {
  .modal-content.custom input {
    width: 100%;
  }

  .modal-content.custom .formgroup button {
    margin-top: 10px;
  }

  #design1 .ow-navigation .navbar-toggle,
  .onDesktop {
    display: none;
  }

  .onMobile {
    display: block;
  }

  .enable {
    display: block !important;
  }

  #design1 {
    position: fixed !important;
  }

  .banner {
    margin-top: 102px;
  }

  .banner-img img,
  .homeBanner-owl img {
    height: 191px;
    width: 100%;
  }

  .banner-img img {
    object-fit: cover;
  }

  .title {
    color: #333;
    font-weight: 800;
    font-size: 30px;
    line-height: 100%;
    margin-top: 33px;
    margin-bottom: 25px;
    text-align: center;
  }

  .description {
    color: #4a4a4a;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    padding: 0 20px;
  }

  .flex-box {
    position: absolute;
    right: 0;
    bottom: 18px;
    background: #fff;
    justify-content: center;
  }

  .enquiry-btn,
  .service-btn {
    display: flex;
    justify-content: center;
  }

  .enquiry-btn a {
    border: 1px solid #222;
    color: #222;
    width: 160px;
  }

  .service-btn a {
    width: 160px;
  }

  #ana-max-btn {
    right: 22px !important;
    bottom: 90px !important;
  }

  .header-ones {
    background: rgb(251, 5, 87);
  }

  #design1 .ow-navigation {
    padding: 0 !important;
  }

  #design1 .menu-icon {
    right: 5px;
    top: -8px;
  }

  #design1 .title-name {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 110%;
    color: #333;
    max-width: 165px;
    font-weight: 700;
    padding-left: 6px;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  #design1 #search {
    position: absolute;
    right: 65px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header-twos {
    background: #fff;
  }

  .cart-image,
  .search-img {
    filter: invert(1) !important;
    color: #222 !important;
  }

  .nav-links-tab:hover {
    text-decoration: none;
  }

  @-webkit-keyframes menu_animate {
    0% {
      bottom: -1000px;
    }

    to {
      bottom: 69px;
    }
  }

  @keyframes menu_animate {
    0% {
      bottom: -1000px;
    }

    to {
      bottom: 69px;
    }
  }

  .menu-navigations {
    width: 100%;
    background: #fff;
    position: fixed;
    bottom: 69px;
    z-index: 999;
    display: flex;
    justify-content: left;
    padding: 29px 34px 0;
    display: none;
    max-height: 70vh;
    overflow: scroll;
    -webkit-animation-name: menu_animate;
    animation-name: menu_animate;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  .menu-navigations ul li {
    padding-bottom: 36px;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  .overlay-menubar {
    position: fixed;
    background: #00000075;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }

  .nav-menu-bottom,
  .nav-menu-bottom .tab {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .nav-menu-bottom {
    background: #fff;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    border-top: 1px solid #c6c6c6;
    height: 69px;
  }

  .nav-links-tab {
    width: 33%;
    display: flex;
  }

  .menuIcon {
    width: 25% !important;
  }

  .ul-sub-list {
    display: none;
    padding-left: 32px;
  }

  .nav-menu-bottom .tab {
    align-items: center;
    flex-flow: column;
  }

  #menu-bar-nav-mobile ul {
    list-style: none;
  }

  .ul-menu-navigations {
    width: 100%;
  }

  .nav-menu-bottom .tab-icon,
  .nav-menu-bottom .tab-label {
    width: 100%;
    text-align: center;
  }

  .nav-menu-bottom .tab-icon i {
    color: #747474;
  }

  .nav-menu-bottom .tab-label {
    color: #747474;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  @media only screen and (max-width: 870px) {
    .footer-index .copyright {
      margin-bottom: 68px;
    }
  }

  @media (max-width: 900px) {
    .mfp-container {
      position: fixed !important;
    }
  }
}
